/files/DaVinci_Resolve_Studio_20.3.2_Linux.run
/files/DaVinci_Resolve_Studio_20.3.2_Mac.dmg
/.certs/*
/scripts/production.env
/backups/
ansible/production_vars.yml
.output.txt
/ansible/inventory.production.ini
/ansible/production_vars.yml
/ansible/dev_vars.yml
/.artifacts/
/.ai/
__pycache__/
.venv/
*.egg-info/
